image_combination.ipynb
data_management.ipynb
/functions/
overscan_subtraction.ipynb
/reduced/
combine_flats.ipynb
apertures.ipynb
starfinder.ipynb
/final_project/targets.tex
/final_project/targets.txt
